.parallax {
    /* The image used */
    background-image: url("../upload/textureandpatterns4.webp");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul > ul li{
    list-style: none;
}