.form-summary, .gray-background{
    background-color: #C0C0C0;
    border-radius: 5px;
}

.parallax {
    /* The image used */
    background-image: url("../upload/checkout-background.webp");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
