.form-summary, .gray-background{
    background-color: #C0C0C0;
    border-radius: 5px;
}

tr td:last-child{
    text-align: right;
    padding-right: 50px !important;
    padding-left: 0 !important;
}

tr td:first-child{
    padding-left: 50px !important;
    padding-right: 0 !important;
}

