summary {
  display: list-item;
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

input#inputWidth, input#inputHeight {
  width: 30%;
}

p.summary {
  font-size: .9em
}

div.sp-wrap {
  max-width: 800px !important;
}

div.accordion button {
  background-color: white;
  font-size: 1.3em;
  color: #444;
  cursor: pointer;
  border-width: 1px;
}

div.accordion button:hover {
  background-color: #ccc;
}

div.accordion>div {
  display: none;
  overflow: hidden;
}
