h3 {
  font-size: 1.7em;
}

.sidebar .list-group {
  width: 15em;
}

#print-image {
  width: 75%; 
}

.section-title {
  border: none;
  border-top: solid 2px black;
  padding-top: 0.2em;
  margin-top: 1em;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  font-size: 1.3em;
}

aside > a:hover {
  background-color: rgb(221, 215, 215) !important;
  color: #e64f13 !important;
  text-decoration: none;
}

.list-group{
  max-height: 50vh;
  overflow: scroll;
}