.navbar {
  z-index: 2;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.7em;
}

.sidebar .list-group {
  width: 15em;
}

.list-group-item {
  width: 100%;
  border: none;
  border-bottom: solid 1px rgb(201, 198, 198);
  padding: 1em;
}