img{
    max-height: 400px;
    width: 100%;
}

p {
    vertical-align: bottom;
    text-align: center;
}

div{
    height: 100%;
}

aside > section > ul > li > img{
    width: 50px;
    float: left;
    margin-right: 5px;
}
