html,
body {
  height: 100vh; 
  /* viewport-percentage lengths https://www.w3.org/TR/css3-values/#viewport-relative-lengths */
}

.subtle-pattern {
  background-color: #f1f2f3;
  background-image:
  url("../upload/swirl_pattern.jpeg"),
  url("../upload/swirl_pattern.jpeg");
  background-position: -1px -1px, -1px -1px;
}

ul li a {
  color:#004FA3 !important;
}

a:hover {
  color: #e64f13 !important;
  text-decoration: none;
}

.card-title {
  font-size: 1.5em;
}

.text-info {
  color: black !important;
}

.text-success {
  color: #176204 !important;
}

.text-warning {
  color: #933A10 !important;
}

.btn-primary {
  background-color: #004FA3 !important;
}

.flex-flow-row-wrap {
  display: flex;
  flex-flow: row wrap;
}