html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
}

h1,
h2 {
  font-size: 1.7em;
}

.sidebar .list-group {
  width: 15em;
}

div.sidebar {
  height: 100%;
  width: 25%;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  display: none;
  min-width: 230px;
}

button.sidebar-opener {
  display: inline-block;
}

button.sidebar-closer {
  display: inline-block;
}

main, footer, nav {
  margin-left: 0%;
}

@media (min-width: 992px) {

  div.sidebar {
    display: block !important;
    width: 25%;
  }

  button.sidebar-opener {
    display: none;
  }
  
  button.sidebar-closer {
    display: none;
  }

  main, footer, nav {
    margin-left: 25%;
  }
}

.list-group-item {
  width: 100%;
  position: relative;
display: block;
text-align: inherit;
  border: none;
  padding: 1em;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}