html,
body {
  font-family: Montserrat;
  height: 100%;
  margin: 0;
}

a:hover {
  color: #e64f13 !important;
  text-decoration: none;
}

.subtle-pattern {
  background-color: #f1f2f3;
  background-image:
    url("../img/swirl_pattern.jpg"),
    url("../img/swirl_pattern.jpg");
  background-position: -1px -1px, -1px -1px;
}

.card-title {
  font-size: 1.5em;
}

.block-content {
  border-radius: 12px;
}

.block-heading {
  border-radius: 0 0 12px 12px;
}

.block-heading,
.block-content {
  padding-bottom: 1em;
  background: white;
}

.text-info {
  color: #004FA3 !important;
}

.text-success {
  color: #176204 !important;
}

.text-warning {
  color: #933A10 !important;
}

.btn-primary {
  background-color: #004FA3 !important;
}

summary {
  display: list-item;
  cursor: pointer;
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;

}

p.summary {
  font-size: .9em
}

div.sp-wrap {
  max-width: 800px !important;
}

div.accordion button {
  background-color: white;
  font-size: 1.3em;
  color: #444;
  cursor: pointer;
  border-width: 1px;
}

div.accordion button:hover {
  background-color: #ccc;
}

div.accordion > div {
  display: none;
  overflow: hidden;
}
